@reference "tailwindcss";

.api-inputs {
  width: 100%;
  overflow-x: auto;
  .api-inputs-header {
    display: flex;
    gap: 12px;
    width: 100%;
    div {
      width: 25%;
    }
  }

  .api-inputs-body {
    width: 100%;
  }

  .api-inputs-row {
    display: flex;
    gap: 12px;

    div {
      width: 25%;
    }
  }
}

.component {
  @apply bg-cyan-600;
}

.directive {
  @apply bg-teal-600;
}

.service {
  @apply bg-sky-600;
}

.table {
  @apply w-full text-left text-sm text-slate-500 rtl:text-right dark:text-gray-200;

  td,
  th {
    border-bottom: 1px solid var(--color-gray-300);
  }
}

.head {
  @apply bg-gray-50 text-xs text-slate-700 uppercase dark:bg-slate-700 dark:text-slate-200;
}

.card {
  @apply mb-10 block overflow-x-auto;
}
