.api-inputs {
  width: 100%;
  overflow-x: auto;
  .api-inputs-header {
    display: flex;
    gap: 12px;
    width: 100%;
    div {
      width: 25%;
    }
  }

  .api-inputs-body {
    width: 100%;
  }

  .api-inputs-row {
    display: flex;
    gap: 12px;

    div {
      width: 25%;
    }
  }
}

.component {
  @apply bg-cyan-600;
}

.directive {
  @apply bg-teal-600;
}

.service {
  @apply bg-sky-600;
}
