:host {
  position: relative;
  display: block;
}
.copy-button {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  @layer lg {
    @apply block;
  }
}

.source-code {
  background: transparent !important;
}
