:host {
  position: relative;
  display: block;
}
.copy-button {
  right: 10px;
  top: 24px;
  position: absolute;
  color: white;
  cursor: pointer;
  display: none;
  @layer lg {
    @apply block;
  }
}

.source-code {
  background: var(--background) !important;
}
