/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'highlight.js/styles/atom-one-light.css';
@import '@angular/cdk/overlay-prebuilt.css';

:root {
  --color-primary: #1a73e8;
  --color-secondary: #34a853;
  --color-accent: #fbbc05;
  --color-background: #ffffff;
  --color-text: #000000;
  --color-border: #dadce0;
  --color-focus: #007bff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color-text-primary);
}
.content-area {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.content-height {
  height: calc(100vh - 56px);
}
