/* You can add global styles to this file, and also import other style files */
@use '../../ng-verse/src/lib/globals';
@import 'highlight.js/styles/github-dark.css';
@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--app-text-color);
}
.content-area {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.content-height {
  height: calc(100vh - 56px);
}
