/* You can add global styles to this file, and also import other style files */
@import 'highlight.js/styles/github-dark.css';
@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-border-color: #cbd5e1;
  --app-border-radius: 8px;
  --app-accent: #f1f5f9;
  --app-accent-foreground: #0f172a;
  --app-ring: #f1f5f9;
  --app-primary-color: #0284c7;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  @apply text-slate-950;
}
.content-area {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.content-height {
  height: calc(100vh - 56px);
}
