/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import '@angular/cdk/overlay-prebuilt.css';
@import './docsearch.css';
@import './highlight-dark.css';
@import './highlight-light.css';
@import '../../ngverse/src/lib/ngverse';

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box; /* 1 */
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.content-area {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
