<div class="show-case">
  <div class="configuration">
    <app-form-field>
      <app-label>Position</app-label>
      <app-select class="option" [(ngModel)]="position">
        @for (position of positions; track $index) {
          <app-option [value]="position.value">
            {{ position.name }}
          </app-option>
        }
      </app-select>
    </app-form-field>
    <app-form-field>
      <app-label>Type</app-label>
      <app-select class="option" [(ngModel)]="type">
        @for (type of types; track $index) {
          <app-option [value]="type">
            {{ type }}
          </app-option>
        }
      </app-select>
    </app-form-field>
  </div>
  <button appButton (click)="showToast()">Show Toast</button>
</div>
