<nav role="navigation" [attr.aria-label]="ariaLabel()">
  <ul class="pagination">
    <li>
      <button
        size="sm"
        variant="link"
        color="secondary"
        appButton
        [attr.aria-label]="prevPageAriaLabel()"
        (click)="prevPage()"
        [disabled]="!hasPrevPage()"
      >
        <ng-icon size="20" [svg]="ARROW_PREV"></ng-icon>
        <span>Previous</span>
      </button>
    </li>

    @for (page of visiblePages(); track $index) {
      @if (page === ELLIPSIS) {
        <li class="pagination-ellipsis">...</li>
      } @else {
        <li>
          <button
            appButton
            icon
            [class.active-page]="currentPage() === page"
            (click)="setPage($any(page))"
            [attr.aria-label]="pageAriaLabel() + page"
            [attr.aria-current]="currentPage() === page"
            variant="link"
            size="sm"
            color="secondary"
          >
            {{ page }}
          </button>
        </li>
      }
    }

    <li>
      <button
        size="sm"
        variant="link"
        color="secondary"
        appButton
        (click)="nextPage()"
        [disabled]="!hasNextPage()"
        [attr.aria-label]="nextPageAriaLabel()"
      >
        <span>Next</span>
        <ng-icon size="20" [svg]="ARROW_NEXT"></ng-icon>
      </button>
    </li>
  </ul>
</nav>
