<div class="section">
  <button appButton (click)="showDialog()" variant="outline" color="success">
    Dialog
  </button>
  <button appButton (click)="showAlert()" variant="outline">Alert</button>
  <button appButton (click)="showConfirm()" variant="outline" color="secondary">
    Confirm
  </button>

  <button
    appButton
    appConfirm
    [confirmOptions]="{
      title: 'Delete this item?',
      description: 'Once deleted you cannot undo this action',
      yesLabel: 'Delete',
      noLabel: 'Cancel',
    }"
    (approved)="deleteItem()"
    variant="outline"
    color="danger"
  >
    Inline Confirm
  </button>
</div>
