:host {
  &.outline {
    border-radius: var(--border-radius);
    border: var(--border);
  }
  &.surface {
    background: var(--color-surface);
  }
  &.shadow {
    box-shadow: var(--color-shadow);
  }
  outline: 0;

  &.gap {
    padding: 10px;
  }
}
