:host {
  padding: 16px;
  display: block;
  border-radius: var(--border-radius);
  &.fill {
    &.success {
      background: var(--color-success);
      color: var(--color-success-foreground);
    }

    &.danger {
      background: var(--color-danger);
      color: var(--color-danger-foreground);
    }
    &.default {
      background: var(--color-inverse);
      color: var(--color-inverse-foreground);
    }

    &.warning {
      background: var(--color-warning);
      color: var(--color-warning-foreground);
    }
  }

  &.outline {
    background: transparent;
    &.success {
      color: var(--color-success);
    }

    &.danger {
      color: var(--color-danger);
    }
    &.default {
      border: var(--border);
    }

    &.warning {
      color: var(--color-warning);
    }
  }
}
