<div class="radio-button" [class.disabled]="radioButtonDisabled()">
  <div class="native-radio-button-container">
    <input
      [disabled]="radioButtonDisabled()"
      (change)="toggle()"
      class="native-radio-button"
      [id]="id()"
      type="radio"
      [name]="name()"
      [checked]="selected()"
    />
    <ng-icon
      size="24"
      class="radio-button-icon"
      [svg]="selected() ? RADIO_BUTTON_CHECKED : RADIO_BUTTON_UNCHECKED"
    ></ng-icon>
  </div>
  <label class="radio-button-label" [for]="id()">
    <ng-content></ng-content>
  </label>
</div>
