a {
  text-decoration: none;
}

.selected {
  @apply bg-slate-100 font-medium;
}

.sidebar {
  @screen lg {
    height: calc(100vh - 56px);
    @apply sticky top-[56px];
  }
}

.in-progress {
  @apply text-gray-400 pointer-events-none;
}

.sidebar-link {
  &:hover,
  &.selected {
    @apply font-medium;
    background: var(--nv-accent);
    color: var(--nv-accent-foreground);
  }
}
