.autocomplete-item {
  display: block;
  width: 100%;
  text-align: left;
  padding: var(--option-padding);
  cursor: var(--option-cursor);

  &:hover:not(.listbox-item-active, .option-disabled) {
    background: var(--option-hover-bg-color);
  }

  &.listbox-item-active {
    background: var(--color-primary-color);
    color: white;
  }

  &.option-disabled {
    color: var(--option-disabled-color);
  }

  &.selected,
  &.is-active {
    background: var(--color-accent);
    color: var(--color-accent-foreground);
  }
}
