name: Release

on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build library
        run: npm run build:ng-verse

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PATH }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release

      - name: Trigger Vercel deployment
        if: success() # Run this step only if the previous steps succeeded
        env:
          DEPLOY_HOOK: ${{ secrets.VERCEL_PATH }}
        run: curl -X POST "$DEPLOY_HOOK"
